.b-auction-price
    background #f4f3f0 
    &__title-icon 
        display none
    &__top-wrap
        padding-top 20px
        display flex 
        margin-left -24px
        @media all and (max-width 1210px)
            flex-direction column
    &__slider-auction
        flex 1 1 auto 
        margin-left 24px
        display flex 
        @media all and (max-width 870px)
            flex-direction column
    &__slider 
        flex 0 0 488px 
        max-width 488px 
        width 488px 
        // height 661px
        @media all and (max-width 870px)
            flex auto
            width 100%
            height auto
            max-width 100%
            display flex 
            flex-direction column 
            align-items center
            
    &__slider-wrap 
        height 415px 
        @media all and (max-width 870px)
            max-width 488px 
            width 100%
            overflow hidden
        @media all and (max-width 768px)
            height 360px
        @media all and (max-width 530px)
            height auto
    &__slider-detail 
        margin-top 24px 
        @media all and (max-width 870px)
            width 100%
    &__auction-buy 
        flex 0 0 341px 
        max-width 341px 
        width 341px
        // height 661px
        margin-left 24px
        @media all and (max-width 1210px)
            flex auto 
            max-width 100% 
            width auto
        @media all and (max-width 870px)
            margin-left 0
            margin-top 24px
    &__auction 
        display flex 
        height 100%
    &__buy-now 
        margin-top 24px
    &__sovereign 
        flex 0 0 293px 
        max-width 293px 
        width 293px 
        @media all and (max-width 1210px) 
            margin-left 24px 
            margin-top 24px
            flex auto 
            max-width 100% 
            width auto 
            height auto
    &__middle
        margin-top 24px
        display flex 
        margin-left -24px
        @media all and (max-width 670px)
            flex-direction column
    &__middle-text
        flex 1 1 auto 
        margin-left 24px
        background #fff
    &__lots-detail 
        flex 0 0 293px 
        max-width 293px 
        width 293px 
        margin-left 24px
        background #fff
        @media all and (max-width 670px)
            flex auto 
            max-width 100%
            width auto 
            margin-top 24px
    &__bottom 
        background #fff 
        margin-top 24px
        padding 33px 66px 32px 28px
        display flex 
        justify-content space-between
        @media all and (max-width 1210px)
            padding 33px 30px 32px 30px
        @media all and (max-width 768px)
            flex-direction column
            align-items center
        @media all and (max-width 670px)
            flex-direction column 
            padding 33px 15px 32px 15px
            
            
    &__comments 
        max-width 535px 
        width 535px
        flex 0 0 535px 
        @media all and (max-width 1210px)
            flex 1 1 auto
        @media all and (max-width 768px)
            flex auto 
            max-width 100% 
            width 100%
    &__leave-comment
        max-width 425px 
        width 425px
        flex 0 0 425px 
        margin-left 30px
        @media all and (max-width 1024px)
            max-width 325px 
            width 325px
            flex 0 0 325px 
        @media all and (max-width 768px)
            flex auto 
            max-width 100% 
            width 100%
            margin-left 0
            margin-top 30px
    
.app--auctionPrice
    .b-auction-price
        &__auction 
            display block 
            height auto
            
        