<div block="b-auction-price" class="site-width">
    <div elem="title" class="b-auction-title">
        <div elem="title-icon"><icon name="locked" tag="i"></div>
        <div elem="title-text">Кинжал СА ранний в полном сборе, производитель фирма Paul Seilheimer, Solingen, редкий</div>
    </div>
    <div elem="top-wrap">
        <div elem="slider-auction">
            <div elem="slider">
                <div elem="slider-wrap">
                    {% include 'auction-slider.html' %}
                </div>
                <div elem="slider-detail">
                    {% include 'slider-detail.html' %}
                </div>
            </div>
            <div elem="auction-buy">
                <div elem="auction">
                    {% include 'b-auction.html' %}
                </div>
                <div elem="buy-now">
                    {% include 'auction-buy.html' %}
                </div>
            </div>
        </div>
        <div elem="sovereign">
            {% include 'sovereign.html' %}
        </div>
    </div>
    <div elem="middle">
        <div elem="middle-text">
            {% include 'auction-text.html' %}
        </div>
        <div elem="lots-detail">
            {% include 'auction-lots.html' %}
        </div>
    </div>
    <div elem="bottom">
        <div elem="comments">
            {% include 'auction-comments.html' %}
        </div>
        <div elem="leave-comment">
            {% include 'b-leave-comment.html' %}
        </div>
    </div>

</div>