.b-leave-comment 
    padding-left 3px
    &__title 
        font-size 26px 
        font-weight 400 
        font-family $cuprum 
        color #367bc5
        padding-bottom 10px
    &__label 
        color #b2b2b2
        font-family $cuprum
        font-size 16px
        font-weight 400
    &__form-input 
        margin-top 10px
        input 
            color #b2b2b2
            width 100% 
            border none 
            background #f4f3f0
            font-family $cuprum
            font-size 16px
            font-weight 400
            padding 10px 10px 10px 13px 
            border-radius 5px
            outline none
    &__form-textarea
        textarea
            color #b2b2b2
            margin-top 16px
            font-family $cuprum
            width 100% 
            border none 
            background #f4f3f0
            font-size 16px
            padding 20px 10px 10px 13px 
            outline none
            font-weight 400
            border-radius 5px
    &__submit 
        text-align right 
        button    
            font-size 26px
            outline none
            padding 5px 36px
            margin-top 10px