<form block="b-leave-comment">
    <div elem="title">
        Оставить комментарии
    </div> 
    <div elem="label">
        Вы можете оставить комментарии к данному лоту задать вопрос продавцу или оставить отзыв 
    </div>
    <div elem="form-input">
        <input type="text" placeholder="Иван Иванов" required>
    </div>
    <div elem="form-textarea">
        <textarea cols="30" rows="6" placeholder="Написать комментарии" required></textarea>
    </div>
    <div elem="submit"><button type="submit" class="site-btn">Дабавить</button></div>
</form>