.b-sovereign 
    display flex
    height 100%
    &__wrap
        flex 0 0 100% 
        max-width 100% 
        width 100%
        padding 30px 10px
        background-color #e4e5e6
        display flex 
        flex-direction column 
        align-items center
        @media all and (max-width 1210px)
            flex-direction row 
            justify-content space-around
            align-items flex-end
            flex-wrap wrap
        @media all and (max-width 870px)
            flex-direction column 
            align-items center
    &__wrap-inner 
        display flex 
        flex-direction column 
        align-items center
        @media all and (max-width 1210px)
            margin 0 15px
    &__title 
        margin-top 15px
        color #367bc5
        font-family $cuprum
        font-size 24px
        font-weight 400
        position relative 
        margin-left 11px
        display flex 
    &__circle-green 
        // font-size 53px 
        // color #81c410
        // line-height 33px
        margin-top 7px
        margin-right 10px
        width 8px
        height 8px
        border-radius 50%
        background-color #81c410
    &__date 
        margin-top 9px
        color #545d63
        font-family $cuprum
        font-size 16px
        font-weight 400
    &__rating 
        margin-top 16px
        color #545d63
        font-family $cuprum
        font-size 16px
        font-weight 400
        // margin-bottom 32px
    & .material-icons 
        color #e5b53e
        font-size 20px
    &__number
        display flex
        font-family $cuprum
        font-size 16px
        font-weight 400
        padding-top 10px
    &__number-all
        color #257147
        span 
            color #545d63
    &__number-now 
        color #cf0d12
    &__forum 
        margin-top 14px
    &__forum-img 
        text-align center
    &__forum-title
        color #728193
        font-family $cuprum
        font-size 16px
        font-weight 700
        padding-top 7px
        text-align center
    &__forum-date 
        padding-top 3px
        color #073f7d
        text-align center
        font-family $cuprum
        font-size 16px
        font-weight 700
    &__safe
        padding-top 50px
        display flex
        align-items center
        color #545d63
        font-family $cuprum
        font-size 16px
        font-weight 400
        text-decoration none
        .svg-icon 
            fill #e4e5e6
            width 17px
            height 15px
    &__safe-icon 
        margin-right 9px
        display flex
    &__safe-text 
        color #545d63
        font-family $cuprum
        font-size 16px
        font-weight 400
    &__question
        padding-top 6px
        padding-bottom 25px 
        display flex 
        align-items center
        font-family $cuprum
        font-size 16px
        font-weight 400
        .svg-icon 
            width 17px
            height 15px
    &__ques-icon 
        margin-right 9px
        display flex
    &__ques-text 
        color #545d63
    &__ques-number 
        color #367bc6
    &__border-bottom 
        background url(../img/sovereign-bottom.png) 0 0 no-repeat
        max-width 240px
        width 240px
        height 11px
        padding-bottom 45px
        @media all and (max-width 1210px)
            display none
    &__another-lots
        display flex 
        font-family $cuprum
        font-size 16px
        font-weight 400
    &__another-lots-title 
        color #367bc5
    &__another-lots-number 
        color #545d63
    
         
        














