<div block="b-sovereign">
    <div elem="wrap">    
        <div elem="wrap-inner">    
            <div elem="img"><img src="img/sovereign-icon.png" alt=""></div>
            <div elem="title">
                <div elem="circle-green"></div>
                <div elem="title-text">Sovereign</div>
            </div>
            <div elem="date">На сайте с 15 апреля 2013г.</div>
        </div>
        <div elem="wrap-inner">    
            <div elem="rating">Рейтинг продавца</div>
            <div class="rating"></div>
            <div elem="number">
                    <div elem="number-all">1326 <span>/</span></div>
                    <div elem="number-now">3</div>
            </div>
        </div>
        <div elem="wrap-inner">    
            <div elem="forum">
                <div elem="forum-img"><img src="img/forum-img.png" alt=""></div>
                <div elem="forum-title">ЧЛЕН КЛУБА ФОРУМА</div>
                <div elem="forum-date">2 года 3 мес.</div>
            </div>
        </div>
        <div elem="wrap-inner">        
            <div elem="safe-ques">
                <a href="#" elem="safe">
                    <span elem="safe-icon"><icon name="safe-icon" tag="i"></span>
                    <span elem="safe-text">Сохранить продавца</span>
                </a>
                <div elem="question">
                    <div elem="ques-icon"><icon name="question-lot" tag="i"></div>
                    <div elem="ques-text">Вопросы к лоту: &nbsp;</div>
                    <div elem="ques-number">20</div>
                </div>
            </div>
            <div elem="border-bottom"></div>
            <div elem="another-lots">
                <div elem="another-lots-title">Другие лоты продавца: &nbsp;</div>
                <div elem="another-lots-number">24</div>
            </div>
        </div>
    </div> 
</div>