<div block="b-auction">
    <div elem="wrap">
        <div elem="title">
            <div elem="title-icon"><img src="img/auction-title-icon.png" alt=""></div>
            <span>АУКЦИОН</span>
        </div>
        <a href="#" elem="watch-auction">
            <span elem="watch-auction-icon"><icon name="watch-icon" tag="i"></span>
            <span elem="watch-title">Наблюдать за лотом</span>
        </a>
        <div elem="start-end">
            <div elem="start">
                <div elem="start-title" class="title-auction-small">Начало торгов:</div>
                <div elem="start-time">20:00  <span>|</span></div>
                <div elem="start-date">15.09.2018</div>
            </div>
            <div elem="start">
                <div elem="start-title" class="title-auction-small">Завершение торгов:</div>
                <div elem="start-time">20:00  <span>|</span></div>
                <div elem="start-date">15.09.2018</div>
            </div>
        </div>
        <div elem="current--min">
            <div elem="current-rate">
                <div elem="current-rate-title" class="title-auction-small">Текущая ставка:</div>
                <div elem="current-price">95 000 ₽</div>
            </div>
            <div elem="min-price">
                <div elem="min-price-title" class="title-auction-small">Минимальная цена:</div>
                <div elem="not-pass"><span>не пройдена</span></div>
            </div>
        </div>
        <form elem="form">
            <div elem="form-input">
                <input type="text">
            </div>
            <div elem="enter-price">
                <div elem="enter-price-title">Введите сумму &nbsp;</div>
                <div elem="enter-price-current">95 100₽ или больше</div>
             </div>
            <button type="submit" class="site-btn">Сделать ставку</button>
        </form>
        <div elem="all-rate">
            <div elem="all-rate-title">Всего ставок:</div>
            <div elem="all-rate-number">20</div> 
        </div>
        <div elem="best">
            <div elem="best-title">Лидирует:</div>
            <div elem="best-comp">Sovereign</div>
        </div>
    </div>
</div>