.b-auction
    background #fff
    position relative
    // height 661px
    flex 0 0 100%
    max-width 100% 
    width 100%
    padding-left 10px 
    padding-right 10px
    @media all and (max-width 500px)
        padding-bottom 20px
    &:before
        content ""
        position absolute 
        bottom 0px 
        width 170px
        height 336px
        left 0
        z-index 0
        background url(../img/auction-background-big.png) 0 0 no-repeat
    &:after
        content ""
        position absolute 
        bottom 0px 
        width 171px
        height 336px
        right 0
        z-index 0
        background url(../img/auction-background-big.png) -167px 0 no-repeat
    &__wrap 
        display flex 
        flex-direction column
        align-items center
        position relative
    &__title 
        background #08366b
        border-radius 0 0 4px 4px
        display flex 
        justiy-content center
        align-items center
        padding 9px 29px 6px 23px
        span 
            color #ffffff
            font-family $cuprum
            font-size 26px
            font-weight 400
    &__title-icon 
        margin-right 20px 
    &__watch-auction 
        display flex 
        margin-top 22px
        align-items center
        text-decoration none
    &__watch-auction-icon 
        margin-right 8px
        display flex 
        align-items center
        .svg-icon 
            width 15px
            height 10px
            fill #367bc5
    &__watch-title 
        color #367bc5
        font-family $cuprum
        font-size 16px
        font-weight 400
    &__start-end 
        margin-top 14px
        max-width 260px
        width 100%
    &__start
        display flex
        padding-top 6px
    &__start-title 
        max-width 145px 
        width 100%
    &__start-time
        color #073f7d
        font-family $cuprum
        font-size 16px
        font-weight 400
        display flex
        span
            color #b3b3b3
            font-family c$uprum
            font-size 16px
            font-weight 700
            padding 0 8px
    &__start-date 
        color #073f7d
        font-family Cuprum
        font-size 16px
        font-weight 700
    &__current-rate 
        margin-top 30px
        display flex
        align-items center  
    &__current-price
        color #001b36
        font-family $cuprum
        font-size 28px
        font-weight bold  
    &__current-rate-title 
        margin-right 17px
    &__min-price 
        display flex
    &__min-price-title
        margin-right 13px
    &__not-pass 
        position relative 
        border 1px solid #ce0d12
        border-radius 2px
        width 93px
        height 19px
        z-index 3
        display flex 
        justify-content center 
        align-items center
        text-align center
        span 
            position relative
            z-index 4
            color #ffffff
            text-align center
            font-family $cuprum
            font-size 14px
            font-weight 400
        &:before 
            content "" 
            position absolute 
            top 0
            left 50% 
            width 50%
            bottom 0 
            background #b2b2b2
            z-index 2
        &:after
            content "" 
            position absolute 
            top 0
            right 50% 
            width 50%
            bottom 0 
            z-index 2
            background #ce0d12
    &__form 
        margin-top 20px
    &__form-input 
        input 
            max-width 201px 
            width 100% 
            height 31px 
            display flex 
            align-items center
            padding-left 10px
    &__enter-price 
        display flex
        margin 5px 0
    &__enter-price-title
        color #b3b3b3
        font-family $cuprum
        font-size 14px
        font-weight 400
    &__enter-price-current
        color #b3b3b3
        font-family $cuprum
        font-size 14px
        font-weight 400
    &__all-rate 
        padding-top 8px
        display flex 
        color #367bc5
        font-family $cuprum
        font-size 16px
        font-weight 400
    &__best 
        display flex
        padding-top 4px
        color #545d63
        font-family $cuprum
        font-size 16px
        font-weight 400



.app--auctionPrice
    .b-auction
        height 415px
        &:before
            content ""
            position absolute 
            bottom 0px 
            width 30px 
            left 0
            z-index 1
            height 88px
            background url(../img/auction-background-left.png) 0 0 no-repeat
        &:after
            content ""
            position absolute 
            bottom 0px 
            width 25px 
            right 0
            z-index 1
            height 84px
            background url(../img/auction-background-right.png) 0 0 no-repeat
        &__wrap 
            &:before
                content "" 
                position absolute
                top 0 
                left -10px
                width 61px 
                height 49px 
                background url(../img/b-new-auction.png) 0 0 no-repeat
.app--auctionFinished
    .b-auction
        padding 0 30px
        @media all and (max-width 900px)
                padding 0 15px
        &__warning 
            width 261px
            background-color #414243
            color #ffffff
            font-family $cuprum
            text-align center
            font-size 18px
            font-weight 400
            margin-top 40px
            display flex
            padding 13px 9px 12px 16px
            @media all and (max-width 1210px)
                width 100%
        &__warning-icon 
            display flex
            padding-top 5px
            margin-right 23px
            .svg-icon 
                width 38px
                height 34px
                fill #fff 
        &__warning 
            color #ffffff
            font-family $cuprum
            font-size 18px
            font-weight 400
            margin-top 40px
        &__sold-auction
            color #545d63
            font-family $cuprum
            font-size 18px
            display flex
            margin-top 44px
            font-weight 400
        &__sold-icon 
            display flex
            align-items center
            margin-right 15px
            .svg-icon 
                width 24px
                height 24px
                fill #b2b2b2
        &__current-rate 
            margin-top 12px
        &__winner-auction
            color #545d63
            font-family $cuprum
            font-size 18px
            display flex
            margin-top 30px
            font-weight 400
            @media all and (max-width 1210px)
                justify-content space-between
                max-width 100%
                width 100%
        &__winner-icon 
            display flex
            align-items center
            margin-right 35px
            .svg-icon 
                width 66px
                height 64px
                fill #f5cd65
        &__winner-text-wrap 
            @media all and (max-width 1210px)        
                display flex 
                flex-wrap wrap
                margin-left -10px
                div
                    margin-left 10px
        &__winner-title 
            color #545d63
            font-family $cuprum
            font-size 18px
            font-weight 400
        &__winner-user
            color #073f7d
            font-family $cuprum
            font-size 18px
            font-weight 400
        &__winner-conc 
            padding-top 17px
            color #545d63
            font-family $cuprum
            font-size 18px
            font-weight 700
        &__connect-me 
            color #545d63
            font-family $cuprum
            font-size 16px
            font-weight 400
            padding 0 33px 
            margin-top 19px
            @media all and (max-width 1210px)
                padding 0
            @media all and (max-width 768px)
                padding 0 0 0 2px
            a 
                color #367bc6
                font-family $cuprum
                font-size 16px
                font-weight 400
                text-decoration none
        &__button 
            padding 5px 25px 
            margin-top 20px
            text-align center
            position relative
            z-index 2
            @media all and (max-width 1210px)
                min-width 100%
        &__buyer-outer 
            max-width 260px 
            width 100%
            margin-top 35px
            position relative
            z-index 2
        &__wrap-buyer 
            max-width 145px
            width 100%
            // margin-top 6px
        &__buyer 
            display flex
            margin-top 5px
        &__buyer-name 
            color #367bc5
            font-family $cuprum
            font-size 16px
            font-weight 400
        &__start-end 
            margin-top 30px
            position relative
            z-index 2

.app--auctionOrdinary
    .b-auction
        &__not-pass
            border 1px solid #185e3d
            &:before 
                background #185e3d
            &:after 
                background #185e3d
        &__watch-auction
            margin-top 36px
        &__start-end 
            margin-top 30px
            max-width 260px
            width 100%
        &__start-title 
            max-width 145px
        &__current-rate 
            margin-top 70px
        &__min-price 
            margin-top 10px
        &__form-input 
            margin-top 20px
        &__enter-price 
            margin 10px 0 43px 0
    .b-sovereign 
        &__wrap-inner
            &:nth-child(3) 
                display none
        &__safe-ques 
            margin-top 165px
            @media all and (max-width 1210px)
                margin-top 0

.app--auctionSold
    .b-auction
        &__warning 
            width 261px
            background-color #414243
            color #ffffff
            font-family $cuprum
            text-align center
            font-size 18px
            font-weight 400
            margin-top 40px
            display flex
            padding 13px 9px 12px 16px
            @media all and (max-width 1210px)
                width 100%
        &__warning-icon 
            display flex
            padding-top 5px
            margin-right 23px
            .svg-icon 
                width 38px
                height 34px
                fill #fff 
        &__warning 
            color #ffffff
            font-family $cuprum
            font-size 18px
            font-weight 400
            margin-top 40px
        &__sold-auction
            color #545d63
            font-family $cuprum
            font-size 18px
            display flex
            margin-top 44px
            font-weight 400
        &__sold-icon 
            display flex
            align-items center
            margin-right 15px
            .svg-icon 
                width 27px
                height 24px
                fill #b2b2b2
        &__buyer-outer 
            max-width 256px 
            width 100%
            margin-top 25px
            position relative
            z-index 2
        &__wrap-buyer 
            max-width 140px
            width 100%
            // margin-top 6px
        &__buyer 
            display flex
            margin-top 5px
        &__buyer-name 
            color #545d63
            font-family $cuprum
            font-size 16px
            font-weight 400
        &__current-rate 
            margin-top 10px
        &__start-end 
            margin-top 30px
        &__start-title 
            max-width 145px
        

.app--auctionNotSold
    .b-auction
        &__warning 
            width 261px
            background-color #414243
            color #ffffff
            font-family $cuprum
            text-align center
            font-size 18px
            font-weight 400
            margin-top 40px
            display flex
            padding 13px 9px 12px 16px
            @media all and (max-width 1210px)
                width 100%
        &__warning-icon 
            display flex
            padding-top 5px
            margin-right 45px
            .svg-icon 
                width 38px
                height 34px
                fill #fff 
        &__warning 
            color #ffffff
            font-family $cuprum
            font-size 18px
            font-weight 400
            margin-top 40px
        &__sold-auction
            color #545d63
            font-family $cuprum
            font-size 18px
            display flex
            margin-top 44px
            font-weight 400
        &__sold-icon 
            display flex
            align-items center
            margin-right 15px
            .svg-icon 
                width 27px
                height 24px
                fill #b2b2b2
        &__buyer-outer 
            max-width 240px 
            width 100%
            margin-top 35px
            position relative
            z-index 2
        &__wrap-buyer 
            max-width 130px
            width 100%
            // margin-top 6px
        &__buyer 
            display flex
            margin-top 5px
        &__buyer-name 
            color #545d63
            font-family $cuprum
            font-size 16px
            font-weight 400
        &__current-rate 
            margin-top 10px
        &__start-end 
            margin-top 23px
        &__start-title 
            max-width 145px

.app--auctionFixed
    .b-auction
        &__wrap
            &:before
                content "" 
                position absolute
                top 0 
                left -10px
                width 61px 
                height 49px 
                background url(../img/b-new-auction.png) 0 0 no-repeat
        &__border-bottom 
            background url(../img/sovereign-bottom.png) 0 0 no-repeat
            max-width 240px
            width 240px
            height 11px
            margin-top 75px
            padding-bottom 45px
        &__current-rate
            margin-top 20px
        &__button 
            margin-top 17px
            min-width 201px
        &__watch-auction
            margin-top 43px
        &__start-end 
            margin-top 45px
        &__start-title 
            max-width 145px
        
            
.app--auctionCompleted
    .b-auction
        &__warning 
            width 261px
            background-color #414243
            color #ffffff
            font-family $cuprum
            text-align center
            font-size 18px
            font-weight 400
            margin-top 40px
            display flex
            padding 13px 9px 12px 16px
            @media all and (max-width 1210px)
                width 100%
        &__warning-icon 
            display flex
            padding-top 5px
            margin-right 23px
            .svg-icon 
                width 38px
                height 34px
                fill #fff 
        &__warning 
            color #ffffff
            font-family $cuprum
            font-size 18px
            font-weight 400
            margin-top 40px
        &__sold-auction
            color #545d63
            font-family $cuprum
            font-size 18px
            display flex
            margin-top 44px
            font-weight 400
        &__sold-icon 
            display flex
            align-items center
            margin-right 15px
            .svg-icon 
                width 27px
                height 24px
                fill #b2b2b2
        &__current-rate 
            margin-top 12px
        &__winner-auction
            color #545d63
            font-family $cuprum
            font-size 18px
            display flex
            margin-top 30px
            font-weight 400
            @media all and (max-width 1210px)
                justify-content space-between
                max-width 100%
                width 100%
        &__winner-icon 
            display flex
            align-items center
            margin-right 35px
            .svg-icon 
                width 66px
                height 64px
                fill #f5cd65
        &__winner-text-wrap 
            @media all and (max-width 1210px)        
                display flex 
                flex-wrap wrap
                margin-left -10px
                div
                    margin-left 10px
        &__winner-title 
            color #545d63
            font-family $cuprum
            font-size 18px
            font-weight 400
        &__winner-user
            color #073f7d
            font-family $cuprum
            font-size 18px
            font-weight 400
        &__winner-conc 
            padding-top 17px
            color #545d63
            font-family $cuprum
            font-size 18px
            font-weight 700
        &__connect-me 
            color #545d63
            font-family $cuprum
            font-size 16px
            font-weight 400
            padding 0 33px 
            margin-top 19px
            @media all and (max-width 768px)
                padding 0 0 0 2px
            a 
                color #367bc6
                font-family $cuprum
                font-size 16px
                font-weight 400
                text-decoration none
        &__button 
            padding 5px 25px 
            margin-top 20px
            text-align center
            position relative
            z-index 2
            @media all and (max-width 1210px)
                min-width 100%
        &__buyer-outer 
            max-width 260px 
            width 100%
            margin-top 35px
            position relative
            z-index 2
        &__wrap-buyer 
            max-width 145px
            width 100%
            // margin-top 6px
        &__buyer 
            display flex
            margin-top 5px
        &__buyer-name 
            color #367bc5
            font-family $cuprum
            font-size 16px
            font-weight 400
        &__start-end 
            margin-top 45px
            position relative
            z-index 2
    .b-sovereign 
        &__wrap-inner
            &:nth-child(3) 
                display none
        &__safe-ques 
            margin-top 165px
            @media all and (max-width 1210px)
                margin-top 0
            