<div block="b-auction">
    <div elem="wrap">
        <div elem="warning">
            <div elem="warning-icon"><icon name="warning" tag="i"></div>
            <div elem="warning-text">Лот продан и находится в архиве. </div>
        </div>
        <div elem="sold-auction">
            <div elem="sold-icon"><icon name="sold-blitz" tag="i"></div>
            <div elem="sold-title">Продано по блиц-цене</div>
        </div>
        <div elem="current--min">
            <div elem="current-rate">
                <div elem="current-price">97 000 ₽</div>
            </div>
        </div>
        <div elem="winner-auction">
            <div elem="winner-icon"><icon name="winner" tag="i"></div>
            <div elem="winner-text">
                <div elem="winner-text-wrap">
                    <div elem="winner-title">Поздравляем,</div>
                    <div elem="winner-user">Shopaholic_Samson!</div> 
                </div>
                <div elem="winner-conc">Вы выиграли торги! </div>
            </div>
        </div>
        <div elem="connect-me">
            Для получения и оплаты лота,  пожалуй-ста, свяжитесь с продавцом <a href="#">Sovereign</a>.
        </div>
        <div elem="button" class="site-btn">Связаться с продавцом</div>
        <div elem="buyer-outer">    
            <div elem="buyer">
                <div elem="wrap-buyer">    
                    <div elem="buyer-text" class="title-auction-small">Покупатель:</div>
                </div>
                <div elem="buyer-name">Shopaholic_Samson</div>
            </div>  
        </div>
        <div elem="start-end">
            <div elem="start">
                <div elem="start-title" class="title-auction-small">Начало торгов:</div>
                <div elem="start-time">20:00  <span>|</span></div>
                <div elem="start-date">15.09.2018</div>
            </div>
            <div elem="start">
                <div elem="start-title" class="title-auction-small">Завершение торгов:</div>
                <div elem="start-time">20:00  <span>|</span></div>
                <div elem="start-date">15.09.2018</div>
            </div>
        </div>
    </div>
</div>