<div block="b-auction">
    <div elem="wrap">
        <a href="#" elem="watch-auction">
            <span elem="watch-auction-icon"><icon name="watch-icon" tag="i"></span>
            <span elem="watch-title">Наблюдать за лотом</span>
        </a>
        <div elem="start-end">
            <div elem="start">
                <div elem="start-title" class="title-auction-small">Начало торгов:</div>
                <div elem="start-time">20:00  <span>|</span></div>
                <div elem="start-date">15.09.2018</div>
            </div>
            <div elem="start">
                <div elem="start-title" class="title-auction-small">Завершение торгов:</div>
                <div elem="start-time">20:00  <span>|</span></div>
                <div elem="start-date">15.09.2018</div>
            </div>
        </div>
        <div elem="border-bottom"></div>
        <div elem="current-min">
            <div elem="current-rate">
                <div elem="current-price">95 000 ₽</div>
            </div>
        </div>
        <button elem="button" class="site-bth-black">Купить</button>
    </div>
</div>