.b-slider-detail 
    padding-top 10px
    background #fff
    padding-bottom 4px
    @media all and (max-width 768px)
        padding-right 15px
        padding-left 15px
    ul 
        list-style-type none
        @media all and (max-width 870px)
                padding 0
        li 
            display flex 
            @media all and (max-width 870px)
                margin-left -32px
            span 
                display block
                padding 3px 0 4px 0
                &:nth-child(1)
                    max-width 155px
                    width 100% 
                    text-align right
                    margin-left 32px
                    color #b3b3b3
                    font-family $cuprum
                    font-size 16px
                    font-weight 400
                    @media all and (max-width 870px)
                        max-width 100%
                &:nth-child(2)
                    max-width 45%
                    width 100%
                    margin-left 32px
                    text-align left   
                    color #545d63
                    font-family $cuprum
                    font-size 16px
                    font-weight 400
            
                