<div block="b-slider-detail">
    <ul>
        <li>
            <span>Лотов в наличии:</span>
            <span>1 (продано 2)</span>
        </li>
        <li>
            <span>Датировка:</span>
            <span>не указано </span>
        </li>
        <li>
            <span>Страна:</span>
            <span>Германия</span>
        </li>
        <li>
            <span>Подлинность:</span>
            <span>Гарантия подлинности</span>
        </li>
        <li>
            <span>Расположение лота:</span>
            <span>Красноперекопск</span>
        </li>
        <li>
            <span>Условия доставки:</span>
            <span>Почта России</span>
        </li>
        <li>
            <span>Условия оплаты:</span>
            <span>Банковский перевод</span>
        </li>
    </ul>
</div>