::-moz-selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

::selection
    background : $selection.bgc
    color : $selection.color
    text-shadow : none

/* IE 10+ */
::-webkit-input-placeholder
    color : $placeholders.normal
:-moz-placeholder
    color : $placeholders.normal
/* FF 4-18 */
::-moz-placeholder
    color : $placeholders.normal
/* FF 19+ */
:-ms-input-placeholder
    color : $placeholders.normal

if $placeholders.focus
    /* Input placeholder color
     ========================================================================== */
    /* IE 10+ */
    input:focus::-webkit-input-placeholder
        color : $placeholders.focus
    input:focus:-moz-placeholder
        color : $placeholders.focus
    /* FF 4-18 */
    input:focus::-moz-placeholder
        color : $placeholders.focus
    /* FF 19+ */
    input:focus:-ms-input-placeholder
        color : $placeholders.focus

*
    min-width 0
    min-height 0
    -webkit-tap-highlight-color rgba(0, 0, 0, 0)
    box-sizing border-box

html
    font-size : $html.fontSize
    font-family : $html.family
    font-weight : $html.weight
    color : $html.color
    background-color : $html.bgc

    font-feature-settings : kern, liga, onum
    -webkit-font-smoothing : antialiased
    -webkit-text-size-adjust : 100%
    -ms-text-size-adjust : 100%

body
    font-size : inherit
    font-family : inherit
    font-weight : inherit
    color : inherit
    background-color : inherit

blockquote
    font-style       : $blockquote.font.style
    padding          : 15px
    padding-left     : $blockquote.gutter
    border-left      : $blockquote.border.size solid $blockquote.border.color
    background-color : rgba($blockquote.border.color, .03)

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
    font-family    : $headings.family
    font-weight    : $headings.weight
    color          : $headings.color
    text-transform : $headings.transform
    
    &::-moz-selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

    &::selection
        background : $selection.bgc
        color : $selection.color
        text-shadow : none

template, /* 1 */
[hidden]
    display none

// font weights
for $weight, $value in $fontWeight
    .font-{$weight}
        font-weight : $value

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden
    border 0
    clip rect(0 0 0 0)
    height 1px
    margin -1px
    overflow hidden
    padding 0
    position absolute
    width 1px

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
    clip auto
    height auto
    margin 0
    overflow visible
    position static
    width auto

svg:not(:root)
    overflow hidden
    
.site-width 
    max-width 1210px 
    width 100% 
    margin 0 auto 
    padding-left 20px
    padding-right 20px
    @media all and (max-width 768px)
        padding-right 15px
        padding-left 15px
.b-auction-title
    color #073f7d
    font-family $cuprum
    font-size 30px
    font-weight 400
    @media all and (max-width 870px)
        text-align center
        font-size 25px

.app--auctionFinished, .app--auctionSold, .app--auctionCompleted, .app--auctionNotSold
    .b-auction-price 
        &__title-icon 
            display block
            display flex
            align-items center
            margin-right 17px
            .svg-icon
                width 16px
                height 19px

    .b-auction-title 
        color #9099a0
        display flex
// .app--auctionFixed
//     .b-auction-price 
//         &__title-icon 
//             display none
// .app--auctionNotSold
//     .b-auction-price 
//         &__title-icon 
//             display none
// .app--auctionOrdinary
//     .b-auction-price 
//         &__title-icon 
//             display none
// .app--auctionPrice
//     .b-auction-price 
//         &__title-icon 
//             display none
// .app--auctionSold
//     .b-auction-price 
//         &__title-icon 
//             display none
            
.title-auction-small 
    color #545d63
    font-family $cuprum
    font-size 16px
    font-weight 400
.site-btn 
    padding 5px 32px
    border-radius 4px 
    background-color #367bc5
    color #ffffff
    border none
    font-family $cuprum
    font-size 22px
    font-weight 700
    transition background-color 0.3s ease
    cursor pointer
    @media all and (max-width 425px)
        min-width 100%
    &:hover 
        background-color #2362a5
.site-bth-black
    color #ffffff
    font-family $cuprum
    font-size 22px
    border none
    font-weight 700
    padding 5px 32px
    border-radius 0 0 4px 4px 
    background-color #414243
    transition background-color 0.3s ease
    cursor pointer
    &:hover 
        background-color #2d2e2f
    