::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(0,0,0,0.87);
}

:-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

::-moz-placeholder {
  color: rgba(0,0,0,0.87);
}

:-ms-input-placeholder {
  color: rgba(0,0,0,0.87);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-sizing: border-box;
}

html {
  font-size: 17px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  color: rgba(0,0,0,0.87);
  background-color: #fff;
  -webkit-font-feature-settings: kern, liga, onum;
          font-feature-settings: kern, liga, onum;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  color: inherit;
  background-color: inherit;
}

blockquote {
  font-style: normal;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #3e50b4;
  background-color: rgba(62,80,180,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 700;
  color: rgba(0,0,0,0.87);
  text-transform: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection {
  background: #3e50b4;
  color: #fff;
  text-shadow: none;
}

template,
[hidden] {
  display: none;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.site-width {
  max-width: 1210px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.b-auction-title {
  color: #073f7d;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
  font-weight: 400;
}

.app--auctionFinished .b-auction-price__title-icon,
.app--auctionSold .b-auction-price__title-icon,
.app--auctionCompleted .b-auction-price__title-icon,
.app--auctionNotSold .b-auction-price__title-icon {
  display: block;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 17px;
}

.app--auctionFinished .b-auction-price__title-icon .svg-icon,
.app--auctionSold .b-auction-price__title-icon .svg-icon,
.app--auctionCompleted .b-auction-price__title-icon .svg-icon,
.app--auctionNotSold .b-auction-price__title-icon .svg-icon {
  width: 16px;
  height: 19px;
}

.app--auctionFinished .b-auction-title,
.app--auctionSold .b-auction-title,
.app--auctionCompleted .b-auction-title,
.app--auctionNotSold .b-auction-title {
  color: #9099a0;
  display: -ms-flexbox;
  display: flex;
}

.title-auction-small {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.site-btn {
  padding: 5px 32px;
  border-radius: 4px;
  background-color: #367bc5;
  color: #fff;
  border: none;
  font-family: 'Cuprum', sans-serif;
  font-size: 22px;
  font-weight: 700;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.site-btn:hover, .site-btn:focus {
  background-color: #2362a5;
}

.site-bth-black {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 22px;
  border: none;
  font-weight: 700;
  padding: 5px 32px;
  border-radius: 0 0 4px 4px;
  background-color: #414243;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.site-bth-black:hover, .site-bth-black:focus {
  background-color: #2d2e2f;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
}

.svg-icon__spinner {
  fill: inherit;
  width: inherit;
  height: inherit;
  -webkit-animation-name: spinner;
          animation-name: spinner;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.gallery {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px 0 0 -15px;
}

.gallery a {
  display: block;
  background-image: none;
}

.gallery img,
.gallery .attachment-thumbnail {
  vertical-align: top;
  width: 100%;
  height: auto;
}

.gallery .gallery-caption {
  padding: 15px 0;
}

.gallery.gallery-columns-1 .gallery-item {
  max-width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-2 .gallery-item {
  max-width: 50%;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-3 .gallery-item {
  max-width: 33.333333333333336%;
  -ms-flex-preferred-size: 33.333333333333336%;
      flex-basis: 33.333333333333336%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-4 .gallery-item {
  max-width: 25%;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-5 .gallery-item {
  max-width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-6 .gallery-item {
  max-width: 16.666666666666668%;
  -ms-flex-preferred-size: 16.666666666666668%;
      flex-basis: 16.666666666666668%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-7 .gallery-item {
  max-width: 14.285714285714286%;
  -ms-flex-preferred-size: 14.285714285714286%;
      flex-basis: 14.285714285714286%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-8 .gallery-item {
  max-width: 12.5%;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.gallery.gallery-columns-9 .gallery-item {
  max-width: 11.11111111111111%;
  -ms-flex-preferred-size: 11.11111111111111%;
      flex-basis: 11.11111111111111%;
  padding: 0 0 15px 15px;
  margin: 0;
}

.alignnone {
  margin: 0.5rem;
}

.aligncenter {
  display: block;
  margin: 0.5rem auto;
}

.alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

.alignright {
  float: right;
  margin: 0 0 20px 20px;
}

.wp-caption {
  max-width: 100%;
}

.wp-caption-text {
  padding-top: 5px;
}

.wp-caption img {
  width: 100%;
  height: auto;
}

.gallery-caption,
.wp-caption-text {
  font-size: 90%;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 20px 0;
  background: #ccc;
  color: #000;
  padding: 20px 0;
}

.demo-box {
  background-color: #009688;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.theme-color {
  color: #3e50b4;
}

.theme-bgc {
  background-color: #3e50b4;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.app__aside--left {
  -ms-flex-order: -1;
      order: -1;
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.app__aside--right {
  -ms-flex: 0 0 300px;
      flex: 0 0 300px;
}

.b-auction-buy {
  background: #fff;
  padding: 30px 65px 51px 65px;
  height: 100%;
  position: relative;
  z-index: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction-buy__text {
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-auction-buy__all-price {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.b-auction-buy__all-price-rate {
  color: #414243;
  font-family: 'Cuprum', sans-serif;
  font-size: 28px;
  font-weight: 700;
  padding-left: 14px;
}

.b-auction-comments__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-auction-comments__title {
  font-size: 26px;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
  color: #367bc5;
  position: relative;
}

.b-auction-comments__title:before {
  content: "4";
  position: absolute;
  top: 2px;
  right: -40px;
  width: 23px;
  text-align: center;
  height: 23px;
  border-radius: 5px;
  background: #367bc5;
  color: #fff;
  font-size: 19px;
  font-family: 'Cuprum', sans-serif;
}

.b-auction-comments__read-more {
  font-size: 22px;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
  color: #367bc5;
}

.b-auction-comments__read-more:hover, .b-auction-comments__read-more:focus {
  text-decoration: none;
}

.b-auction-comments__person {
  padding-left: 20px;
  padding-top: 15px;
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction-comments__item {
  margin-bottom: 10px;
}

.b-auction-comments__person-icon {
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.b-auction-comments__person-icon .svg-icon {
  width: 20px;
  height: 16px;
  fill: #b2b2b2;
}

.b-auction-comments__date-time {
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  padding-top: 15px;
}

.b-auction-comments__text {
  margin-top: 11px;
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 17px;
  font-weight: 400;
  padding: 23px;
  border-radius: 5px;
  background: #f4f3f0;
}

.b-auction-comments__show-comment {
  margin-top: 8px;
  margin-left: 24px;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.b-auction-comments__show-comment-icon {
  margin-right: 11px;
}

.b-auction-comments__show-comment-icon .svg-icon {
  width: 8px;
  height: 14px;
  fill: #367bc5;
}

.b-auction-comments__show-comment-text {
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.b-auction-lots {
  padding: 35px 10px 35px 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
}

.b-auction-lots__title {
  text-align: center;
  color: #545d63;
  padding-bottom: 45px;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.b-auction-lots__title-icon {
  display: -ms-flexbox;
  display: flex;
  margin-right: 13px;
}

.b-auction-lots__title-icon .svg-icon {
  width: 16px;
  height: 17px;
  fill: #545d63;
}

.b-auction-lots__wrap {
  max-width: 145px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction-lots__views {
  padding-bottom: 9px;
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction-lots__views-icon {
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.b-auction-lots__views-icon .svg-icon {
  width: 16px;
  height: 11px;
  fill: #b2b2b2;
}

.b-auction-lots__watch {
  padding-bottom: 9px;
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction-lots__watch-icon {
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.b-auction-lots__watch-icon .svg-icon {
  width: 16px;
  height: 11px;
  fill: #b2b2b2;
}

.b-auction-lots__lastprice {
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction-lots__lastprice-icon {
  display: -ms-flexbox;
  display: flex;
  margin-right: 8px;
}

.b-auction-lots__lastprice-icon .svg-icon {
  width: 16px;
  height: 11px;
  fill: #b2b2b2;
}

.b-auction-lots__control-lot {
  position: absolute;
  bottom: -50px;
  left: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.b-auction-lots__control-lot:before {
  content: "";
  position: absolute;
  right: 70px;
  top: 6px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5px 4.5px 0 4.5px;
  border-color: #367bc5 transparent transparent transparent;
}

.b-auction-price {
  background: #f4f3f0;
}

.b-auction-price__title-icon {
  display: none;
}

.b-auction-price__top-wrap {
  padding-top: 20px;
  display: -ms-flexbox;
  display: flex;
  margin-left: -24px;
}

.b-auction-price__slider-auction {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-left: 24px;
  display: -ms-flexbox;
  display: flex;
}

.b-auction-price__slider {
  -ms-flex: 0 0 488px;
      flex: 0 0 488px;
  max-width: 488px;
  width: 488px;
}

.b-auction-price__slider-wrap {
  height: 415px;
}

.b-auction-price__slider-detail {
  margin-top: 24px;
}

.b-auction-price__auction-buy {
  -ms-flex: 0 0 341px;
      flex: 0 0 341px;
  max-width: 341px;
  width: 341px;
  margin-left: 24px;
}

.b-auction-price__auction {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.b-auction-price__buy-now {
  margin-top: 24px;
}

.b-auction-price__sovereign {
  -ms-flex: 0 0 293px;
      flex: 0 0 293px;
  max-width: 293px;
  width: 293px;
}

.b-auction-price__middle {
  margin-top: 24px;
  display: -ms-flexbox;
  display: flex;
  margin-left: -24px;
}

.b-auction-price__middle-text {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  margin-left: 24px;
  background: #fff;
}

.b-auction-price__lots-detail {
  -ms-flex: 0 0 293px;
      flex: 0 0 293px;
  max-width: 293px;
  width: 293px;
  margin-left: 24px;
  background: #fff;
}

.b-auction-price__bottom {
  background: #fff;
  margin-top: 24px;
  padding: 33px 66px 32px 28px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-auction-price__comments {
  max-width: 535px;
  width: 535px;
  -ms-flex: 0 0 535px;
      flex: 0 0 535px;
}

.b-auction-price__leave-comment {
  max-width: 425px;
  width: 425px;
  -ms-flex: 0 0 425px;
      flex: 0 0 425px;
  margin-left: 30px;
}

.app--auctionPrice .b-auction-price__auction {
  display: block;
  height: auto;
}

.b-auction-slider {
  position: relative;
}

.b-auction-slider .owl-nav {
  display: none;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 43px;
  -webkit-transform: translateY(-160%);
          transform: translateY(-160%);
}

.b-auction-slider .sas {
  display: block;
}

.b-auction-slider .owl-nav button.owl-prev {
  position: absolute;
  left: 13px;
  width: 43px;
  height: 43px;
  background: url("../img/auction-slider-icon-prev.png") !important;
  outline: none;
  transition: opacity 0.3s ease;
  opacity: 0.5;
}

.b-auction-slider .owl-nav button.owl-prev:hover, .b-auction-slider .owl-nav button.owl-prev:focus {
  opacity: 0.8;
}

.b-auction-slider .owl-nav button.owl-prev span {
  display: none;
}

.b-auction-slider .owl-nav button.owl-next {
  position: absolute;
  right: 13px;
  width: 43px;
  height: 43px;
  background: url("../img/auction-slider-icon.png") !important;
  opacity: 0.5;
  outline: none;
  transition: opacity 0.3s ease;
}

.b-auction-slider .owl-nav button.owl-next span {
  display: none;
}

.b-auction-slider .owl-nav button.owl-next:hover, .b-auction-slider .owl-nav button.owl-next:focus {
  opacity: 0.8;
}

.b-auction-slider .owl-dots {
  margin-top: 12px;
  margin-left: -12px;
}

.b-auction-slider .owl-dot {
  max-width: 88px;
  width: 100%;
  height: 70px;
  outline: none;
  margin-left: 12px;
}

.b-auction-slider .owl-dot:nth-child(1) {
  background: url("../img/auction-owl-dot-img1.png") !important;
}

.b-auction-slider .owl-dot:nth-child(2) {
  background: url("../img/auction-owl-dot-img2.png") !important;
}

.b-auction-slider .owl-dot:nth-child(3) {
  background: url("../img/auction-owl-dot-img3.png") !important;
}

.b-auction-slider .owl-dot:nth-child(4) {
  background: url("../img/auction-owl-dot-img4.png") !important;
}

.b-auction-slider .owl-dot:nth-child(5) {
  background: url("../img/auction-owl-dot-img4.png") !important;
}

.b-auction-slider .owl-dot:last-child {
  position: relative;
}

.b-auction-slider .owl-dot:last-child:before {
  content: "все фото";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 15px;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.2px;
  background: rgba(0,0,0,0.5) !important;
  transition: background 0.3s ease;
}

.b-auction-slider .owl-dot:last-child:hover:before, .b-auction-slider .owl-dot:last-child:focus:before {
  background: rgba(0,0,0,0.7) !important;
}

.b-auction-text {
  padding: 17px 40px 60px 40px;
  position: relative;
}

.b-auction-text__wrap p {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.b-auction-text__complain {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 35px;
  right: 75px;
  text-decoration: none;
}

.b-auction-text__complain-icon {
  margin-right: 11px;
}

.b-auction-text__complain-icon .svg-icon {
  width: 16px;
  height: 16px;
  fill: #367bc5;
}

.b-auction-text__complain-text {
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.b-auction {
  background: #fff;
  position: relative;
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.b-auction:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 170px;
  height: 336px;
  left: 0;
  z-index: 0;
  background: url("../img/auction-background-big.png") 0 0 no-repeat;
}

.b-auction:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 171px;
  height: 336px;
  right: 0;
  z-index: 0;
  background: url("../img/auction-background-big.png") -167px 0 no-repeat;
}

.b-auction__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
}

.b-auction__title {
  background: #08366b;
  border-radius: 0 0 4px 4px;
  display: -ms-flexbox;
  display: flex;
  justiy-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 9px 29px 6px 23px;
}

.b-auction__title span {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 26px;
  font-weight: 400;
}

.b-auction__title-icon {
  margin-right: 20px;
}

.b-auction__watch-auction {
  display: -ms-flexbox;
  display: flex;
  margin-top: 22px;
  -ms-flex-align: center;
      align-items: center;
  text-decoration: none;
}

.b-auction__watch-auction-icon {
  margin-right: 8px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction__watch-auction-icon .svg-icon {
  width: 15px;
  height: 10px;
  fill: #367bc5;
}

.b-auction__watch-title {
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-auction__start-end {
  margin-top: 14px;
  max-width: 260px;
  width: 100%;
}

.b-auction__start {
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
}

.b-auction__start-title {
  max-width: 145px;
  width: 100%;
}

.b-auction__start-time {
  color: #073f7d;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  display: -ms-flexbox;
  display: flex;
}

.b-auction__start-time span {
  color: #b3b3b3;
  font-family: c$uprum;
  font-size: 16px;
  font-weight: 700;
  padding: 0 8px;
}

.b-auction__start-date {
  color: #073f7d;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 700;
}

.b-auction__current-rate {
  margin-top: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-auction__current-price {
  color: #001b36;
  font-family: 'Cuprum', sans-serif;
  font-size: 28px;
  font-weight: bold;
}

.b-auction__current-rate-title {
  margin-right: 17px;
}

.b-auction__min-price {
  display: -ms-flexbox;
  display: flex;
}

.b-auction__min-price-title {
  margin-right: 13px;
}

.b-auction__not-pass {
  position: relative;
  border: 1px solid #ce0d12;
  border-radius: 2px;
  width: 93px;
  height: 19px;
  z-index: 3;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
}

.b-auction__not-pass span {
  position: relative;
  z-index: 4;
  color: #fff;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.b-auction__not-pass:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  bottom: 0;
  background: #b2b2b2;
  z-index: 2;
}

.b-auction__not-pass:after {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 50%;
  bottom: 0;
  z-index: 2;
  background: #ce0d12;
}

.b-auction__form {
  margin-top: 20px;
}

.b-auction__form-input input {
  max-width: 201px;
  width: 100%;
  height: 31px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding-left: 10px;
}

.b-auction__enter-price {
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.b-auction__enter-price-title {
  color: #b3b3b3;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.b-auction__enter-price-current {
  color: #b3b3b3;
  font-family: 'Cuprum', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.b-auction__all-rate {
  padding-top: 8px;
  display: -ms-flexbox;
  display: flex;
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-auction__best {
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.app--auctionPrice .b-auction {
  height: 415px;
}

.app--auctionPrice .b-auction:before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 30px;
  left: 0;
  z-index: 1;
  height: 88px;
  background: url("../img/auction-background-left.png") 0 0 no-repeat;
}

.app--auctionPrice .b-auction:after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 25px;
  right: 0;
  z-index: 1;
  height: 84px;
  background: url("../img/auction-background-right.png") 0 0 no-repeat;
}

.app--auctionPrice .b-auction__wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 61px;
  height: 49px;
  background: url("../img/b-new-auction.png") 0 0 no-repeat;
}

.app--auctionFinished .b-auction {
  padding: 0 30px;
}

.app--auctionFinished .b-auction__warning {
  width: 261px;
  background-color: #414243;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 9px 12px 16px;
}

.app--auctionFinished .b-auction__warning-icon {
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-right: 23px;
}

.app--auctionFinished .b-auction__warning-icon .svg-icon {
  width: 38px;
  height: 34px;
  fill: #fff;
}

.app--auctionFinished .b-auction__warning {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.app--auctionFinished .b-auction__sold-auction {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  font-weight: 400;
}

.app--auctionFinished .b-auction__sold-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 15px;
}

.app--auctionFinished .b-auction__sold-icon .svg-icon {
  width: 24px;
  height: 24px;
  fill: #b2b2b2;
}

.app--auctionFinished .b-auction__current-rate {
  margin-top: 12px;
}

.app--auctionFinished .b-auction__winner-auction {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-weight: 400;
}

.app--auctionFinished .b-auction__winner-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 35px;
}

.app--auctionFinished .b-auction__winner-icon .svg-icon {
  width: 66px;
  height: 64px;
  fill: #f5cd65;
}

.app--auctionFinished .b-auction__winner-title {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.app--auctionFinished .b-auction__winner-user {
  color: #073f7d;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.app--auctionFinished .b-auction__winner-conc {
  padding-top: 17px;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.app--auctionFinished .b-auction__connect-me {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 33px;
  margin-top: 19px;
}

.app--auctionFinished .b-auction__connect-me a {
  color: #367bc6;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.app--auctionFinished .b-auction__button {
  padding: 5px 25px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.app--auctionFinished .b-auction__buyer-outer {
  max-width: 260px;
  width: 100%;
  margin-top: 35px;
  position: relative;
  z-index: 2;
}

.app--auctionFinished .b-auction__wrap-buyer {
  max-width: 145px;
  width: 100%;
}

.app--auctionFinished .b-auction__buyer {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.app--auctionFinished .b-auction__buyer-name {
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.app--auctionFinished .b-auction__start-end {
  margin-top: 30px;
  position: relative;
  z-index: 2;
}

.app--auctionOrdinary .b-auction__not-pass {
  border: 1px solid #185e3d;
}

.app--auctionOrdinary .b-auction__not-pass:before {
  background: #185e3d;
}

.app--auctionOrdinary .b-auction__not-pass:after {
  background: #185e3d;
}

.app--auctionOrdinary .b-auction__watch-auction {
  margin-top: 36px;
}

.app--auctionOrdinary .b-auction__start-end {
  margin-top: 30px;
  max-width: 260px;
  width: 100%;
}

.app--auctionOrdinary .b-auction__start-title {
  max-width: 145px;
}

.app--auctionOrdinary .b-auction__current-rate {
  margin-top: 70px;
}

.app--auctionOrdinary .b-auction__min-price {
  margin-top: 10px;
}

.app--auctionOrdinary .b-auction__form-input {
  margin-top: 20px;
}

.app--auctionOrdinary .b-auction__enter-price {
  margin: 10px 0 43px 0;
}

.app--auctionOrdinary .b-sovereign__wrap-inner:nth-child(3) {
  display: none;
}

.app--auctionOrdinary .b-sovereign__safe-ques {
  margin-top: 165px;
}

.app--auctionSold .b-auction__warning {
  width: 261px;
  background-color: #414243;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 9px 12px 16px;
}

.app--auctionSold .b-auction__warning-icon {
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-right: 23px;
}

.app--auctionSold .b-auction__warning-icon .svg-icon {
  width: 38px;
  height: 34px;
  fill: #fff;
}

.app--auctionSold .b-auction__warning {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.app--auctionSold .b-auction__sold-auction {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  font-weight: 400;
}

.app--auctionSold .b-auction__sold-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 15px;
}

.app--auctionSold .b-auction__sold-icon .svg-icon {
  width: 27px;
  height: 24px;
  fill: #b2b2b2;
}

.app--auctionSold .b-auction__buyer-outer {
  max-width: 256px;
  width: 100%;
  margin-top: 25px;
  position: relative;
  z-index: 2;
}

.app--auctionSold .b-auction__wrap-buyer {
  max-width: 140px;
  width: 100%;
}

.app--auctionSold .b-auction__buyer {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.app--auctionSold .b-auction__buyer-name {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.app--auctionSold .b-auction__current-rate {
  margin-top: 10px;
}

.app--auctionSold .b-auction__start-end {
  margin-top: 30px;
}

.app--auctionSold .b-auction__start-title {
  max-width: 145px;
}

.app--auctionNotSold .b-auction__warning {
  width: 261px;
  background-color: #414243;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 9px 12px 16px;
}

.app--auctionNotSold .b-auction__warning-icon {
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-right: 45px;
}

.app--auctionNotSold .b-auction__warning-icon .svg-icon {
  width: 38px;
  height: 34px;
  fill: #fff;
}

.app--auctionNotSold .b-auction__warning {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.app--auctionNotSold .b-auction__sold-auction {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  font-weight: 400;
}

.app--auctionNotSold .b-auction__sold-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 15px;
}

.app--auctionNotSold .b-auction__sold-icon .svg-icon {
  width: 27px;
  height: 24px;
  fill: #b2b2b2;
}

.app--auctionNotSold .b-auction__buyer-outer {
  max-width: 240px;
  width: 100%;
  margin-top: 35px;
  position: relative;
  z-index: 2;
}

.app--auctionNotSold .b-auction__wrap-buyer {
  max-width: 130px;
  width: 100%;
}

.app--auctionNotSold .b-auction__buyer {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.app--auctionNotSold .b-auction__buyer-name {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.app--auctionNotSold .b-auction__current-rate {
  margin-top: 10px;
}

.app--auctionNotSold .b-auction__start-end {
  margin-top: 23px;
}

.app--auctionNotSold .b-auction__start-title {
  max-width: 145px;
}

.app--auctionFixed .b-auction__wrap:before {
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 61px;
  height: 49px;
  background: url("../img/b-new-auction.png") 0 0 no-repeat;
}

.app--auctionFixed .b-auction__border-bottom {
  background: url("../img/sovereign-bottom.png") 0 0 no-repeat;
  max-width: 240px;
  width: 240px;
  height: 11px;
  margin-top: 75px;
  padding-bottom: 45px;
}

.app--auctionFixed .b-auction__current-rate {
  margin-top: 20px;
}

.app--auctionFixed .b-auction__button {
  margin-top: 17px;
  min-width: 201px;
}

.app--auctionFixed .b-auction__watch-auction {
  margin-top: 43px;
}

.app--auctionFixed .b-auction__start-end {
  margin-top: 45px;
}

.app--auctionFixed .b-auction__start-title {
  max-width: 145px;
}

.app--auctionCompleted .b-auction__warning {
  width: 261px;
  background-color: #414243;
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
  display: -ms-flexbox;
  display: flex;
  padding: 13px 9px 12px 16px;
}

.app--auctionCompleted .b-auction__warning-icon {
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-right: 23px;
}

.app--auctionCompleted .b-auction__warning-icon .svg-icon {
  width: 38px;
  height: 34px;
  fill: #fff;
}

.app--auctionCompleted .b-auction__warning {
  color: #fff;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-top: 40px;
}

.app--auctionCompleted .b-auction__sold-auction {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 44px;
  font-weight: 400;
}

.app--auctionCompleted .b-auction__sold-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 15px;
}

.app--auctionCompleted .b-auction__sold-icon .svg-icon {
  width: 27px;
  height: 24px;
  fill: #b2b2b2;
}

.app--auctionCompleted .b-auction__current-rate {
  margin-top: 12px;
}

.app--auctionCompleted .b-auction__winner-auction {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  font-weight: 400;
}

.app--auctionCompleted .b-auction__winner-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-right: 35px;
}

.app--auctionCompleted .b-auction__winner-icon .svg-icon {
  width: 66px;
  height: 64px;
  fill: #f5cd65;
}

.app--auctionCompleted .b-auction__winner-title {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.app--auctionCompleted .b-auction__winner-user {
  color: #073f7d;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.app--auctionCompleted .b-auction__winner-conc {
  padding-top: 17px;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.app--auctionCompleted .b-auction__connect-me {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 0 33px;
  margin-top: 19px;
}

.app--auctionCompleted .b-auction__connect-me a {
  color: #367bc6;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.app--auctionCompleted .b-auction__button {
  padding: 5px 25px;
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.app--auctionCompleted .b-auction__buyer-outer {
  max-width: 260px;
  width: 100%;
  margin-top: 35px;
  position: relative;
  z-index: 2;
}

.app--auctionCompleted .b-auction__wrap-buyer {
  max-width: 145px;
  width: 100%;
}

.app--auctionCompleted .b-auction__buyer {
  display: -ms-flexbox;
  display: flex;
  margin-top: 5px;
}

.app--auctionCompleted .b-auction__buyer-name {
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.app--auctionCompleted .b-auction__start-end {
  margin-top: 45px;
  position: relative;
  z-index: 2;
}

.app--auctionCompleted .b-sovereign__wrap-inner:nth-child(3) {
  display: none;
}

.app--auctionCompleted .b-sovereign__safe-ques {
  margin-top: 165px;
}

.b-leave-comment {
  padding-left: 3px;
}

.b-leave-comment__title {
  font-size: 26px;
  font-weight: 400;
  font-family: 'Cuprum', sans-serif;
  color: #367bc5;
  padding-bottom: 10px;
}

.b-leave-comment__label {
  color: #b2b2b2;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-leave-comment__form-input {
  margin-top: 10px;
}

.b-leave-comment__form-input input {
  color: #b2b2b2;
  width: 100%;
  border: none;
  background: #f4f3f0;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 10px 10px 10px 13px;
  border-radius: 5px;
  outline: none;
}

.b-leave-comment__form-textarea textarea {
  color: #b2b2b2;
  margin-top: 16px;
  font-family: 'Cuprum', sans-serif;
  width: 100%;
  border: none;
  background: #f4f3f0;
  font-size: 16px;
  padding: 20px 10px 10px 13px;
  outline: none;
  font-weight: 400;
  border-radius: 5px;
}

.b-leave-comment__submit {
  text-align: right;
}

.b-leave-comment__submit button {
  font-size: 26px;
  outline: none;
  padding: 5px 36px;
  margin-top: 10px;
}

.page-scroller {
  opacity: 0;
  position: fixed;
  z-index: 1050;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  height: 100vh;
  background-color: rgba(62,80,180,0.1);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  transition: -webkit-transform 0.25s linear;
  transition: transform 0.25s linear;
  transition: transform 0.25s linear, -webkit-transform 0.25s linear;
  fill: #666;
  width: 24px;
  height: 24px;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(62,80,180,0.12);
}

.page-scroller:active {
  background-color: rgba(62,80,180,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.b-slider-detail {
  padding-top: 10px;
  background: #fff;
  padding-bottom: 4px;
}

.b-slider-detail ul {
  list-style-type: none;
}

.b-slider-detail ul li {
  display: -ms-flexbox;
  display: flex;
}

.b-slider-detail ul li span {
  display: block;
  padding: 3px 0 4px 0;
}

.b-slider-detail ul li span:nth-child(1) {
  max-width: 155px;
  width: 100%;
  text-align: right;
  margin-left: 32px;
  color: #b3b3b3;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-slider-detail ul li span:nth-child(2) {
  max-width: 45%;
  width: 100%;
  margin-left: 32px;
  text-align: left;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-sovereign {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.b-sovereign__wrap {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  width: 100%;
  padding: 30px 10px;
  background-color: #e4e5e6;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.b-sovereign__wrap-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.b-sovereign__title {
  margin-top: 15px;
  color: #367bc5;
  font-family: 'Cuprum', sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  margin-left: 11px;
  display: -ms-flexbox;
  display: flex;
}

.b-sovereign__circle-green {
  margin-top: 7px;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #81c410;
}

.b-sovereign__date {
  margin-top: 9px;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-sovereign__rating {
  margin-top: 16px;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-sovereign .material-icons {
  color: #e5b53e;
  font-size: 20px;
}

.b-sovereign__number {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-top: 10px;
}

.b-sovereign__number-all {
  color: #257147;
}

.b-sovereign__number-all span {
  color: #545d63;
}

.b-sovereign__number-now {
  color: #cf0d12;
}

.b-sovereign__forum {
  margin-top: 14px;
}

.b-sovereign__forum-img {
  text-align: center;
}

.b-sovereign__forum-title {
  color: #728193;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding-top: 7px;
  text-align: center;
}

.b-sovereign__forum-date {
  padding-top: 3px;
  color: #073f7d;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.b-sovereign__safe {
  padding-top: 50px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.b-sovereign__safe .svg-icon {
  fill: #e4e5e6;
  width: 17px;
  height: 15px;
}

.b-sovereign__safe-icon {
  margin-right: 9px;
  display: -ms-flexbox;
  display: flex;
}

.b-sovereign__safe-text {
  color: #545d63;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-sovereign__question {
  padding-top: 6px;
  padding-bottom: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-sovereign__question .svg-icon {
  width: 17px;
  height: 15px;
}

.b-sovereign__ques-icon {
  margin-right: 9px;
  display: -ms-flexbox;
  display: flex;
}

.b-sovereign__ques-text {
  color: #545d63;
}

.b-sovereign__ques-number {
  color: #367bc6;
}

.b-sovereign__border-bottom {
  background: url("../img/sovereign-bottom.png") 0 0 no-repeat;
  max-width: 240px;
  width: 240px;
  height: 11px;
  padding-bottom: 45px;
}

.b-sovereign__another-lots {
  display: -ms-flexbox;
  display: flex;
  font-family: 'Cuprum', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.b-sovereign__another-lots-title {
  color: #367bc5;
}

.b-sovereign__another-lots-number {
  color: #545d63;
}

@media all and (max-width: 1210px) {
  .b-auction-buy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 30px 10px 20px 10px;
    height: 220px;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .b-auction-buy__text {
    text-align: center;
  }

  .b-auction-price__top-wrap {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-auction-price__auction-buy {
    -ms-flex: auto;
        flex: auto;
    max-width: 100%;
    width: auto;
  }

  .b-auction-price__sovereign {
    margin-left: 24px;
    margin-top: 24px;
    -ms-flex: auto;
        flex: auto;
    max-width: 100%;
    width: auto;
    height: auto;
  }

  .b-auction-price__bottom {
    padding: 33px 30px 32px 30px;
  }

  .b-auction-price__comments {
    -ms-flex: 1 1 auto;
        flex: 1 1 auto;
  }

  .app--auctionFinished .b-auction__warning {
    width: 100%;
  }

  .app--auctionFinished .b-auction__winner-auction {
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }

  .app--auctionFinished .b-auction__winner-text-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
  }

  .app--auctionFinished .b-auction__winner-text-wrap div {
    margin-left: 10px;
  }

  .app--auctionFinished .b-auction__connect-me {
    padding: 0;
  }

  .app--auctionFinished .b-auction__button {
    min-width: 100%;
  }

  .app--auctionOrdinary .b-sovereign__safe-ques {
    margin-top: 0;
  }

  .app--auctionSold .b-auction__warning {
    width: 100%;
  }

  .app--auctionNotSold .b-auction__warning {
    width: 100%;
  }

  .app--auctionCompleted .b-auction__warning {
    width: 100%;
  }

  .app--auctionCompleted .b-auction__winner-auction {
    -ms-flex-pack: justify;
        justify-content: space-between;
    max-width: 100%;
    width: 100%;
  }

  .app--auctionCompleted .b-auction__winner-text-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -10px;
  }

  .app--auctionCompleted .b-auction__winner-text-wrap div {
    margin-left: 10px;
  }

  .app--auctionCompleted .b-auction__button {
    min-width: 100%;
  }

  .app--auctionCompleted .b-sovereign__safe-ques {
    margin-top: 0;
  }

  .b-sovereign__wrap {
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: end;
        align-items: flex-end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .b-sovereign__wrap-inner {
    margin: 0 15px;
  }

  .b-sovereign__border-bottom {
    display: none;
  }
}

@media all and (max-width: 1024px) {
  .b-auction-price__leave-comment {
    max-width: 325px;
    width: 325px;
    -ms-flex: 0 0 325px;
        flex: 0 0 325px;
  }
}

@media all and (max-width: 900px) {
  .app--auctionFinished .b-auction {
    padding: 0 15px;
  }
}

@media all and (max-width: 870px) {
  .b-auction-title {
    text-align: center;
    font-size: 25px;
  }

  .b-auction-price__slider-auction {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-auction-price__slider {
    -ms-flex: auto;
        flex: auto;
    width: 100%;
    height: auto;
    max-width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }

  .b-auction-price__slider-wrap {
    max-width: 488px;
    width: 100%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .b-auction-price__slider-detail {
    width: 100%;
  }

  .b-auction-price__auction-buy {
    margin-left: 0;
    margin-top: 24px;
  }

  .b-slider-detail ul {
    padding: 0;
  }

  .b-slider-detail ul li {
    margin-left: -32px;
  }

  .b-slider-detail ul li span:nth-child(1) {
    max-width: 100%;
  }

  .b-sovereign__wrap {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
}

@media all and (max-width: 768px) {
  .site-width {
    padding-right: 15px;
    padding-left: 15px;
  }

  .b-auction-comments__person {
    padding-left: 0;
  }

  .b-auction-comments__show-comment {
    margin-left: 0;
  }

  .b-auction-price__slider-wrap {
    height: 360px;
  }

  .b-auction-price__bottom {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }

  .b-auction-price__comments {
    -ms-flex: auto;
        flex: auto;
    max-width: 100%;
    width: 100%;
  }

  .b-auction-price__leave-comment {
    -ms-flex: auto;
        flex: auto;
    max-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .b-auction-slider .owl-nav {
    -webkit-transform: translateY(-120%);
            transform: translateY(-120%);
  }

  .b-auction-slider .owl-dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-auction-slider .owl-dot {
    max-width: 15px;
    height: 15px;
    background: #cecfd0 !important;
    border-radius: 50%;
  }

  .b-auction-slider .owl-dot:before {
    display: none !important;
  }

  .b-auction-slider .owl-dot:nth-child(1) {
    background: #cecfd0 !important;
  }

  .b-auction-slider .owl-dot:nth-child(2) {
    background: #cecfd0 !important;
  }

  .b-auction-slider .owl-dot:nth-child(3) {
    background: #cecfd0 !important;
  }

  .b-auction-slider .owl-dot:nth-child(4) {
    background: #cecfd0 !important;
  }

  .b-auction-slider .owl-dot:nth-child(5) {
    background: #cecfd0 !important;
  }

  .b-auction-slider .owl-dot:nth-child(6) {
    background: #cecfd0 !important;
  }

  .b-auction-slider .owl-dot:nth-child(6):hover, .b-auction-slider .owl-dot:nth-child(6):focus {
    background: #307bc5 !important;
  }

  .app--auctionFinished .b-auction__connect-me {
    padding: 0 0 0 2px;
  }

  .app--auctionCompleted .b-auction__connect-me {
    padding: 0 0 0 2px;
  }

  .b-slider-detail {
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media all and (max-width: 670px) {
  .b-auction-lots {
    padding: 35px 15px 60px 15px;
  }

  .b-auction-lots__title {
    padding-bottom: 20px;
  }

  .b-auction-lots__outer-wrap {
    max-width: 293px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .b-auction-lots__control-lot {
    bottom: -35px;
  }

  .b-auction-price__middle {
    -ms-flex-direction: column;
        flex-direction: column;
  }

  .b-auction-price__lots-detail {
    -ms-flex: auto;
        flex: auto;
    max-width: 100%;
    width: auto;
    margin-top: 24px;
  }

  .b-auction-price__bottom {
    -ms-flex-direction: column;
        flex-direction: column;
    padding: 33px 15px 32px 15px;
  }

  .b-auction-text {
    padding: 17px 15px 60px 15px;
  }
}

@media all and (max-width: 530px) {
  .b-auction-price__slider-wrap {
    height: auto;
  }
}

@media all and (max-width: 500px) {
  .b-auction {
    padding-bottom: 20px;
  }
}

@media all and (max-width: 425px) {
  .site-btn {
    min-width: 100%;
  }
}

@media all and (max-width: 355px) {
  .b-auction-comments__title:before {
    display: none;
  }
}

@media all and (max-width: 350px) {
  .b-auction-lots__control-lot:before {
    right: 60px;
  }
}

@media all and (max-width: 330px) {
  .b-auction-lots__control-lot:before {
    right: 50px;
  }
}