<div block="b-auction-text">
    <div elem="wrap">
        <p>
            Дерево в абсолютной сохранности, на гарде клеймо Гаумарки "Om" (Ostmarke)..жны в красивом 
            коричневом покрытии. На ннжнах есть одна легкая вмятина, шариижен слегка вмят - следы бытования. 
        </p>
        <p>
            Клинок в изумительном сохране, надпись глубоко травленая, как и клейммaul Seilheimer, Solingen. По 
            степени редкости данный кинжал имеет оценку "7" по 10-балльь
        </p>
        <p>
             Lorem ipsum dolor sit amet,,onsectetur adipiscing elit. Inn, nisi quis posuere efficitur, lacus mi imperdiet nibh, et porta leo massa eu orci. Proin tellus nisl, ultricies quu sapien justo, 
             varius eu nulla tempor, porttitor auctor est. Morbi faucibus nec diam vel tincidunt. Nam posuere tempor tempus.
        </p>
    </div>
    <a href="#" elem="complain">
        <span elem="complain-icon"><icon name="complain-icon" tag="i"></span>
        <span elem="complain-text">Пожаловаться</span>
    </a>
</div>