.b-auction-text
    padding 17px 40px 60px 40px 
    position relative 
    @media all and (max-width 670px)
        padding 17px 15px 60px 15px 
        
    &__wrap 
        p 
            color #545d63
            font-family $cuprum
            font-size 18px
            font-weight 400
    &__complain
        display flex
        position absolute 
        bottom 35px 
        right 75px
        text-decoration none
    &__complain-icon 
        margin-right 11px 
        .svg-icon
            width 16px 
            height 16px
            fill #367bc5
    &__complain-text 
        color #367bc5
        font-family $cuprum
        font-size 16px
        font-weight 400
        text-decoration none