.b-auction-buy 
    background #fff 
    padding 30px 65px 51px 65px
    height 100%
    position relative 
    z-index 3
    display flex 
    flex-direction column
    justify-content center 
    align-items center
    @media all and (max-width 1210px)
        display flex
        flex-direction column
        align-items center
        padding 30px 10px 20px 10px
        height 220px
        overflow hidden
    &__text 
        color #b2b2b2
        font-family $cuprum
        font-size 16px
        font-weight 400
        @media all and (max-width 1210px)
            text-align center
    &__all-price 
        display flex
        align-items center
        margin-top 20px
        margin-bottom 15px
    &__all-price-rate 
        color #414243
        font-family $cuprum
        font-size 28px
        font-weight 700
        padding-left 14px