<div block="b-auction-buy">
    <div elem="text">Вы можете приобрести этот лот сразу, без участия в торгах.</div>
    <div elem="all-price">
        <div elem="all-price-title" class="title-auction-small">Блиц-цена:</div>
        <div elem="all-price-rate">105 000 ₽</div>
    </div>
    <button class="site-bth-black">Купить сейчас</button>
</div>