.b-auction-comments
    &__wrap 
        display flex 
        justify-content space-between
    &__title
        font-size 26px 
        font-weight 400 
        font-family $cuprum 
        color #367bc5
        position relative 
        &:before 
            content "4"
            position absolute
            top 2px
            right -40px
            width 23px
            text-align center
            height 23px
            border-radius 5px
            background #367bc5
            color #fff
            font-size 19px 
            font-family $cuprum 
            @media all and (max-width 355px)
                display none
    &__read-more 
        font-size 22px 
        font-weight 400 
        font-family $cuprum 
        color #367bc5
        &:hover 
            text-decoration none
    &__person 
        padding-left 20px
        padding-top 15px
        color #b2b2b2
        font-family $cuprum
        font-size 16px
        font-weight 400
        display flex 
        align-items center
        @media all and (max-width 768px)
            padding-left 0
    &__item
        margin-bottom 10px
    &__person-icon 
        display flex
        margin-right 10px
        .svg-icon 
            width 20px
            height 16px 
            fill #b2b2b2
    &__date-time 
        color #b2b2b2
        font-family $cuprum
        font-size 17px
        font-weight 400
        display flex
        padding-top 15px
    &__text 
        margin-top 11px
        color #b2b2b2
        font-family $cuprum
        font-size 17px
        font-weight 400
        padding 23px 
        border-radius 5px
        background #f4f3f0
    &__show-comment
        margin-top 8px
        margin-left 24px
        display flex
        text-decoration none
        @media all and (max-width 768px)
            margin-left 0
    &__show-comment-icon 
        margin-right 11px 
        .svg-icon
            width 8px 
            height 14px
            fill #367bc5
    &__show-comment-text 
        color #367bc5
        font-family $cuprum
        font-size 16px
        font-weight 400
        text-decoration none
            