<div block="b-auction-comments">
    <div elem="wrap"> 
        <div elem="title">Комментарии</div>
        <a href="#" elem="read-more">читать все</a>
    </div>
    <div elem="item">
        <div elem="wrap">
            <div elem="person">
                <div elem="person-icon"><icon name="comment-owner-icon" tag="i"></div>
                <div elem="person-text">Петр Иванов</div>
            </div>
            <div elem="date-time">
                <div elem="date">04.10.2016 <span>в &nbsp;</span></div>
                <div elem="time">21:50</div>
            </div>
        </div>
        <div elem="text">
            Добрый вечер,<br>
            Хотелось бы узнать способ доставки и оплаты за границу!?
        </div>
        <a href="#" elem="show-comment">
            <span elem="show-comment-icon"><icon name="show-comment" tag="i"></span>
            <span elem="show-comment-text">Показать переписку</span>
        </a>
    </div>
    <div elem="item">
        <div elem="wrap">
            <div elem="person">
                <div elem="person-icon"><icon name="comment-owner-icon" tag="i"></div>
                <div elem="person-text">Иван Петров</div>
            </div>
            <div elem="date-time">
                <div elem="date">15.08.2016 <span>в &nbsp;</span></div>
                <div elem="time">14:20</div>
            </div>
        </div>
        <div elem="text">
            Здравствуйте! Возможен ли торг?
        </div>
        <a href="#" elem="show-comment">
            <span elem="show-comment-icon"><icon name="show-comment" tag="i"></span>
            <span elem="show-comment-text">Показать переписку</span>
        </a>
    </div>
</div>























