<div block="b-auction-lots">
    <div elem="outer-wrap">    
        <div elem="title">
            <div elem="title-icon"><icon name="lots-title-icon" tag="i"></div>
            <div elem="title-text">ЛОТ 116797</div>
        </div>
        <div elem="views">
            <div elem="wrap">    
                <div elem="views-icon"><icon name="views-icon" tag="i"></div>
                <div elem="views-text">Просмотров:</div>
            </div>
            <div elem="views-number">109</div>
        </div>
        <div elem="watch">
            <div elem="wrap">    
                <div elem="watch-icon"><icon name="watch-icon" tag="i"></div>
                <div elem="watch-text">Наблюдают:</div>
            </div>
            <div elem="watch-number">5</div>
        </div>
        <div elem="lastprice">
            <div elem="wrap">     
                <div elem="lastprice-icon"><icon name="last-price-icon" tag="i"></div>
                <div elem="lastprice-text">Последняя ставка:</div>
            </div>
            <div elem="lastprice-number">16:30, 18.09.2018</div>
        </div>
        <a href="#" elem="control-lot">Управление лотом</a>
    </div>
</div>