.b-auction-lots
    padding 35px 10px 35px 25px
    display flex 
    flex-direction column 
    position relative
    @media all and (max-width 670px)
        padding 35px 15px 60px 15px
    // align-items center
    &__title 
        text-align center
        color #545d63
        padding-bottom 45px
        font-family $cuprum
        font-size 20px
        font-weight 700
        display flex 
        align-items center
        justify-content center
        @media all and (max-width 670px)
            padding-bottom 20px
    &__title-icon 
        display flex
        margin-right 13px
        .svg-icon 
            width 16px
            height 17px 
            fill #545d63
    &__wrap 
        max-width 145px
        width 100%
        display flex
        align-items center
    &__outer-wrap 
        @media all and (max-width 670px)
            max-width 293px 
            width 100% 
            margin 0 auto
            position relative
    &__views 
        padding-bottom 9px
        color #b2b2b2
        font-family $cuprum
        font-size 16px
        font-weight 400
        display flex 
        align-items center
    &__views-icon 
        display flex
        margin-right 8px
        .svg-icon 
            width 16px
            height 11px 
            fill #b2b2b2
    &__watch 
        padding-bottom 9px
        color #b2b2b2
        font-family $cuprum
        font-size 16px
        font-weight 400
        display flex 
        align-items center
    &__watch-icon 
        display flex
        margin-right 8px
        .svg-icon 
            width 16px
            height 11px 
            fill #b2b2b2
    &__lastprice 
        color #b2b2b2
        font-family $cuprum
        font-size 16px
        font-weight 400
        display flex 
        align-items center
    &__lastprice-icon 
        display flex
        margin-right 8px
        .svg-icon 
            width 16px
            height 11px 
            fill #b2b2b2
    &__control-lot 
        position absolute 
        bottom -50px 
        left 0 
        right 0
        display flex 
        justify-content center
        color #367bc5
        font-family $cuprum
        font-size 16px
        font-weight 400
        text-decoration none
        @media all and (max-width 670px)
            bottom -35px
        &:before 
            content ""
            position absolute
            right 70px
            top 6px
            width 0px
            height 0px
            border-style solid 
            border-width 5px 4.5px 0 4.5px 
            border-color #367bc5 transparent transparent transparent 
            @media all and (max-width 350px)
                right 60px
            @media all and (max-width 330px)
                right 50px
    
