<div block="b-auction-slider" class="owl-carousel">
        <div class="item">
            <img src="img/auction-slider-img1.jpg" alt="">
        </div>
        <div class="item">
            <img src="img/auction-slider-img1.jpg" alt="">
        </div>
        <div class="item">
            <img src="img/auction-slider-img1.jpg" alt="">
        </div>
        <div class="item">
            <img src="img/auction-slider-img1.jpg" alt="">
        </div>
        <div class="item">
            <img src="img/auction-slider-img1.jpg" alt="">
        </div>
</div>