.b-auction-slider
    position relative 
    .owl-nav
        display none
        position absolute
        top 50%
        width 100%
        height 43px
        transform translateY(-160%)
        @media all and (max-width 768px)
            transform translateY(-120%)
    .sas 
        display block
    .owl-nav button.owl-prev
        position absolute 
        left 13px
        width 43px 
        height 43px
        background url(../img/auction-slider-icon-prev.png) !important
        outline none
        transition opacity 0.3s ease
        opacity 0.5
        &:hover 
            opacity 0.8
        span 
            display none
    .owl-nav button.owl-next
        position absolute 
        right 13px
        width 43px 
        height 43px
        background url(../img/auction-slider-icon.png) !important
        opacity 0.5
        outline none
        transition opacity 0.3s ease
        span 
            display none
        &:hover 
            opacity 0.8
    .owl-dots 
        margin-top 12px
        margin-left -12px
        // @media all and (max-width 530px)
        //     height 55px 
        //     overflow hidden
        @media all and (max-width 768px)
            display flex 
            justify-content center    
    .owl-dot
        max-width 88px 
        width 100%
        height 70px 
        outline none
        margin-left 12px 
        // background #e4e5e6 !important
        
        &:nth-child(1)
            background url(../img/auction-owl-dot-img1.png) !important
        &:nth-child(2)
            background url(../img/auction-owl-dot-img2.png) !important
        &:nth-child(3)
            background url(../img/auction-owl-dot-img3.png) !important
        &:nth-child(4)
            background url(../img/auction-owl-dot-img4.png) !important
        &:nth-child(5)
            background url(../img/auction-owl-dot-img4.png) !important
        // &:hover 
        &:last-child
            position relative 
            &:before 
                content "все фото"
                position absolute 
                top 0
                left 0
                bottom 0
                right 0
                color #ffffff
                align-items center
                justify-content center
                padding 15px
                display flex
                font-family $cuprum
                font-size 20px
                font-weight 700
                letter-spacing -0.2px
                background rgba(0, 0, 0, 0.5) !important
                transition background 0.3s ease
            &:hover 
                &:before
                    background rgba(0, 0, 0, 0.7) !important
        @media all and (max-width 768px)
            max-width 15px 
            height 15px 
            background #cecfd0 !important
            border-radius 50%
            &:before
                display none !important 
            &:nth-child(1)
                background #cecfd0 !important
            &:nth-child(2)
                background #cecfd0 !important
            &:nth-child(3)
                background #cecfd0 !important
            &:nth-child(4)
                background #cecfd0 !important
            &:nth-child(5)
                background #cecfd0 !important
            &:nth-child(6)
                background #cecfd0 !important
                &:hover 
                    background #307bc5 !important
            
        // @media all and (max-width 530px)
        //     max-width 70px 
        //     height 60px
        // @media all and (max-width 425px)
        //     max-width 63px 
        //     height 55px  
            